.entire {
    margin: 0;
    background-image: linear-gradient(90deg, #e4d0d0 50%, #d1b0b0 50%);
    width: 1500px;
    height: 900px;
    background-size: 60px 60px;
    background-repeat: repeat;
}

@media screen and (max-width: 600px) {
    .entire {}
}